@font-face {
    font-family: Manrope;
    src: url(../fonts/Manrope.ttf);
}

@font-face {
    font-family: Coolvetica;
    src: url(../fonts/Coolvetica.ttf);
}

@font-face {
    font-family: Stolzl;
    src: url(../fonts/Stolzl.otf);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter.ttf);
}

@font-face {
    font-family: Onest;
    src: url(../fonts/Onest.ttf);
}

body{
    background-color: #000000;
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
}

h1, h2, p{
    font-family: 'Onest', sans-serif;
    color: white;
    cursor: default;
    /* font-weight: 500; */
}

h1, h2{
    font-weight: 400;
    margin-bottom: 10px;
    /* font-family: 'Stolzl', sans-serif; */
}

p{
    font-weight: 200;
    font-size: 16px;
}

.dragArea{
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-app-region: drag;
}

header{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    width: calc(100% - 60px);
    position: fixed;
    /* backdrop-filter: blur(20px); */
    z-index: 10;
    background-color: rgb(0 0 0 / 0%);
}

#preloader{
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    /*background-image: url(../icons/logo.png);*/
    background-position: center;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    filter: invert(1);
    max-height: 10000px;
    transition: .4s;
}

#preloader video{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.hiddenPreloader{
    transition: opacity 400ms 0ms, max-height 0ms 400ms!important;
    opacity: 0;
    max-height: 0px!important;
}

.icon{
    height: 30px;
    width: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    fill: #ffffff;
}

#mainLogo{
    background-image: url(../icons/logo.png);
    height: 42px;
    width: 42px;
    filter: invert(1);
}

aside{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 30px
}

.buttonsContainer{
    background-color: #21212100;
    height: 100vh;
    width: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* padding: 5px; */
    border-radius: 34px;
    /* border: 1px solid #ffffff1a; */
    position: absolute;
    top: 0px;
    left: 0;
    /* transform: translate(-50%, 0px); */
    align-items: center;
    z-index: 1000;
    justify-content: center;
}

.asideButton{
    background-color: rgb(255 255 255 / 10%);
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: max-content;
    align-items: center;
    padding: 22px 22px;
    border-radius: 40px;
    flex-wrap: nowrap;
    width: fit-content;
    transition: .1s;
    /* border: 1px solid rgb(255 255 255 / 20%); */
    justify-content: center;
}

.asideButton .icon{
    height: 22px;
    width: 22px;
}

.asideWidget{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 14px 14px;
    border-radius: 34px;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-right: 4px;
    margin-left: 4px;
    position: relative;
    max-width: 50px;
    filter: blur(0px);
    transform: scale(1);
    transition: max-width 300ms 0ms, opacity 200ms 100ms, filter 200ms 100ms, padding 300ms 0ms, transform 300ms 0ms, margin-left 200ms 0ms;
    /* display: none; */
}

.hiddenAsideWidget{
    max-width: 0px;
    padding: 14px 0px;
    margin-left: 0px;
    opacity: 0;
    filter: blur(10px);
    transform: scale(0.6);
    transition: max-width 300ms 50ms, opacity 200ms 0ms, filter 200ms 0ms, padding 300ms 0ms, transform 300ms 0ms, margin-left 200ms 0ms;
}

.asideWidget p{
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    opacity: .8;
}

.asideWidget .icon{
    height: 22px;
    width: 22px;
    opacity: .9;
}

.asideWidget:hover > .popup{
    opacity: 1;
}

.popup{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 12px 20px;
    position: absolute;
    left: 100%;
    transform: translate(0%, 0px);
    opacity: 0;
    transition: 200ms 300ms;
    backdrop-filter: blur(10px);
}

.activeButton{
    background-color: rgb(255 255 255);
}

.activeButton p{
    color: black;
}

.activeButton .icon{
    filter: invert(1);
}

.asideButton:not(.activeButton):hover{
    background-color: rgb(60, 60, 60);
}

.asideButton p{
    margin: 0px 0px 0px 12px;
    /* display: none; */
    font-size: 16px;
    display: none;
}

.content:has(.absoluteHead){
    width: calc(100vw - 140px);
    padding: 90px 20px 20px 120px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow-y: scroll;
    height: calc(100vh - 260px);
    max-width: 5000px;
    transform: scale(1);
    /* transition: opacity 300ms 200ms, max-width 0ms 200ms, transform 300ms 200ms, filter 300ms 200ms; */
}

/* .content{
    width: calc(100vw - 180px);
    padding: 10px 40px 30px 140px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow-y: scroll;
    height: calc(100vh - 140px);
    max-width: 5000px;
    transform: scale(1);
    transition: opacity 300ms 200ms, max-width 0ms 200ms, transform 300ms 200ms, filter 300ms 200ms;
}

.hiddenContent{
    padding: 0!important;
    touch-action: none;
    transform: scale(0.94)!important;
    filter: blur(10px)!important;
    max-width: 0px!important;
    transition: opacity 300ms 0ms, max-width 0ms 300ms, padding 0ms 300ms, transform 300ms 0ms, filter 300ms 0ms!important;
    opacity: 0;
}

.nextContent{
    padding: 0!important;
    touch-action: none;
    transform: scale(1.04)!important;
    filter: blur(10px)!important;
    max-width: 0px!important;
    transition: opacity 300ms 0ms, max-width 0ms 0ms, padding 0ms 0ms, transform 300ms 0ms, filter 300ms 0ms!important;
    opacity: 0;
} */

.doneMark{
    position: absolute;
    top: calc(48% - 30px);
    left: calc(48% - 30px);
    transition: .2s;
    height: 60px;
    width: 60px;
    background-image: url(../icons/done.png);
    background-position: center;
    background-size: cover;
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.5));
}

.content{
    width: calc(100vw - 180px);
    padding: 10px 40px 30px 140px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow-y: scroll;
    height: calc(100vh - 140px);
    max-width: 5000px;
    transform: translate(0px, 0px);
    transition: opacity 300ms 200ms, max-width 0ms 200ms, transform 700ms 200ms cubic-bezier(0, 0, 0.12, 0.94), filter 300ms 200ms;
}

.hiddenContent{
    padding: 0!important;
    touch-action: none;
    transform: translate(-30px, 0px)!important;
    filter: blur(20px)!important;
    max-width: 0px!important;
    transition: opacity 300ms 0ms, max-width 0ms 300ms, padding 0ms 500ms, transform 1000ms 0ms ease-in, filter 300ms 0ms!important;
    opacity: 0;
}

.nextContent{
    padding: 0!important;
    touch-action: none;
    transform: translate(50px, 0px)!important;
    filter: blur(20px)!important;
    max-width: 0px!important;
    transition: opacity 300ms 0ms, max-width 0ms 0ms, padding 0ms 0ms, transform 1000ms 0ms cubic-bezier(0, 0, 0.25, 0.97), filter 300ms 0ms!important;
    opacity: 0;
}

.pageHead{
    width: calc(100% - 0px);
    height: fit-content;
    float: left;
    height: fit-content;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.absoluteHead{
    position: absolute;
    top: 90px;
    width: calc(100% - 140px);
}

.content:has(.absoluteHead){
    padding-top: 220px;
}

.pageHead h1{
    margin-bottom: -4px;
    /* width: 100%; */
    font-size: 40px;
    margin-top: 0px;
}

.pageHead p{
    margin: 0px;
}

.subHead{
    width: 100%;
    height: fit-content;
    float: left;
    height: fit-content;
}

.subHead h2{
    margin-bottom: 0px;
    width: 100%;
}

.subHead p{
    margin: 0px 0px 20px 0px;
}

#configurationPanel{
    position: absolute;
    height: calc(100% - 158px);
    width: 450px;
    bottom: 20px;
    left: 120px;
    display: flex;
    flex-direction: column;
}

#dragIcon, #dragIconClone{
    height: 64px;
    width: 64px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    border: 8px solid rgb(0 0 0);
    z-index: 10;
    background-image: url(../icons/rightArrows.png);
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
}

.subtitle{
    width: 100%;
    margin-bottom: 0px;
    margin-left: 14px;
    opacity: .8;
}

#dragIcon{
    transition: .3s;
}

.configPanel{
    /* height: calc(50% - 2px); */
    height: 100%;
    margin-bottom: 4px;
    background-color: rgba(255,255,255,0.1);
    width: calc(100% - 2px);
    border-radius: 40px;
    position: relative;
}

#configurationPanel .configPanel:last-child{
    margin-bottom: 0px;
}

.configPanel .sectionHead{
    padding: 24px;
    width: calc(100% - 48px);
    height: fit-content;
}

.configPanel .sectionHead h2{
    margin: 0px 0px 0px 0px;
    opacity: .9;
}

.configPanel .sectionHead p{
    margin: 0px;
    font-size: 13px;
    opacity: .7;
}

.no-mt{
    margin-top: 0px!important;
}

.no-mb{
    margin-bottom: 0px!important;
}

#combinationsSectionInner{
    display: flex;
    overflow-y: auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px 24px 24px 24px;
    width: calc(100% - 48px);
    height: calc(100% - 118px);
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -10px;
    align-content: flex-start;
}



#combinationSectionInner .combination{
    background-color: rgb(0 0 0 / 12%);
    border: 1px solid rgb(255 255 255 / 21%);
}

#iconsSectionInner .iconsColumn{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    position: relative;
    flex-wrap: wrap;
    border-radius: 0px 0px 14px 14px;
}

#combinationsSection .combinationSkeleton{
    display: none!important;
}

#previewBox{
    height: calc(100% - 188px);
    width: calc(100% - 630px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    border-radius: 20px;
    right: 30px;
    /* background: linear-gradient(      217deg,      rgb(255 255 255 / 6%),      rgba(255, 0, 0, 0) 70.71%    ), linear-gradient(127deg, rgb(0 255 173 / 10%), rgba(0, 255, 0, 0) 70.71%),    linear-gradient(336deg, rgb(171 0 255 / 10%), rgba(0, 0, 255, 0) 70.71%); */
}

#disconnectedMessage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 16px));
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
    z-index: 10;
    padding: 20px 28px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 36px;
}

#preview{
    height: 500px;
    width: 500px;
    border-radius: 50px;
    background-image: url("../images/screens.webp");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: .3s;
    transform: scale(1);
    opacity: 1;
    filter: blur(0px);
}

.blurredPreview{
    transform: scale(0.98)!important;
    opacity: 0.6!important;
    filter: blur(30px)!important;
    touch-action: none;
}

.blurredPreview .previewIconBox{
    display: none;
}

.previewIconBox:hover {
    border: 4px solid rgba(255, 255, 255, 0.4);
}

.previewIconBox{
    border: 4px solid rgba(255, 255, 255, 0.0);
    border-radius: 20px;
    height: 129px;
    width: 129px;
    position: absolute;
    transition: .2s!important;
}

.previewIconBox.droppableActive {
    background: rgba(255, 255, 255, 0.2);
    border: 4px solid rgba(255, 255, 255, 0.4);
    animation: borderPulse 2s infinite;
}

.activePreview {
    transition: 200ms 0ms;
    /*transform: translate(2px, 2px);
    border: 4px solid rgba(255, 255, 255, 0.4);*/
    border: 4px solid rgba(255, 255, 255, 0.4);
    animation: borderPulse 2s infinite;
}

.activePreview:hover{
    transform: translate(0px, 0px);
}

.dashedPreview{
    border: 4px dashed rgba(255, 255, 255, 0.4);
}

.iconMenu{
    height: fit-content;
    width: 296px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 34px;
    background-color: rgb(52 52 52 / 35%);
    transform: translate(calc(-100% - 30px), calc(-50% + 60px)) scale(1);
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.6));
    max-height: 300px;
    flex-wrap: nowrap;
    opacity: 1;
    transition: .2s;
    overflow: hidden;
    backdrop-filter: blur(32px);
    border: 1px solid #ffffff1c;
}

.iconMenu .column{
    overflow: auto;
}

.categories{
    display: flex;
    flex-direction: row;
    width: calc(100% - 0px);
    overflow: auto;
    padding: 0px 8px 0px 8px;
    height: 114px;
    flex-wrap: nowrap;
    margin-left: -8px;
}

.categories::-webkit-scrollbar {
    width: 0;
}

.column::-webkit-scrollbar {
    width: 0;
}

.categories .category{
    padding: 16px 30px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 32px;
    margin-right: 6px;
    height: fit-content;
    width: fit-content;
    flex-shrink: 3;
}

.categories .category:last-child{
    margin-right: 0px;
}

.category p{
    margin: 0px;
}

.iconMenu::-webkit-scrollbar {
    display: none;
}

.menuDrop{
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(0px, -50%);
    background-image: url(../icons/menuDrop.webp);
}

.listElement{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 44px);
    height: fit-content;
    align-items: center;
    padding: 16px 22px;
    border-radius: 40px;
    color: white;
    font-family: 'Manrope', sans-serif;
    transition: .2s;
    cursor: default;
}

.iconMenu .column{
    display: flex;
    flex-direction: row;
    /* width: calc(100% + 16px); */
    flex-wrap: wrap;
    /* padding: 8px; */
    /* margin-left: -8px; */
    border-radius: 0px 0px 24px 24px;
}

.iconElement{
    width: fit-content;
    height: fit-content;
    padding: 22px 22px;
}

.iconElement p{
    display: none;
}

.hidden{
    opacity: 0;
    transform: translate(calc(-100% - 30px), calc(-50% + 60px)) scale(1.1);
}

.listElement .icon{
    margin-right: 10px;
}

.iconElement .icon{
    margin-right: 0px;
}

.listElement:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.previewIcon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% - 0px), calc(-50% - 4px));
    height: 56px;
    width: 56px;
    opacity: .8;
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.5));
    transition: .1s;
}

.row{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: max-content;
}

#appIcon{
    height: 60px;
    width: 60px;
    background-image: url(../icons/applogo.png);
    background-size: cover;
    margin-right: 20px;
    background-position: center;
}

.modalWindow {
    transition: height 0ms 0ms, opacity 300ms 0ms, transform 300ms 0ms, filter 300ms 50ms;
    opacity: 1;
    filter: blur(0px);
    transform: scale(1) translate(-50%, -50%);
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    background-color: rgb(0 0 0 / 50%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    max-height: 800px;
    border-radius: 24px;
}

.modalWindow h2{
    margin: 0px;
}

.closedModalWindow {
    touch-action: none;
    overflow: hidden !important;
    transform: translate(-50%, -50%) scale(1.2) !important;
    max-height: 0 !important;
    opacity: 0 !important;
    padding: 0 !important;
    filter: blur(10px);
    transition: max-height 0ms 400ms, padding 0ms 400ms, opacity 400ms 0ms, transform 300ms 0ms, filter 300ms 0ms !important;
}

.modalWindow .subtitle {
    margin-right: 100px;
}

.modalWindow .imageWrapper {
    opacity: .9;
}

.closeButton {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    background-image: url(../icons/close.png);
    background-size: cover;
    cursor: pointer;
    z-index: 10;
    transition: .2s;
}

#modalWindowBack {
    transition: height 0ms 0ms, opacity 300ms 0ms;
    z-index: 99;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1001;
    opacity: 1
}

.hiddenModalBack {
    height: 1px !important;
    top: -1px !important;
    opacity: 0 !important;
    transition: height 0ms 400ms, opacity 400ms 0ms !important
}

#keysInputBox {
    min-width: 100px;
    max-width: 670px;
    height: 56px;
    min-height: 56px;
    padding: 6px 42px 6px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 36px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.0);
    transition: .2s;
    position: relative;
}

/*#keysInputBox:hover #clearInputButton{
    opacity: 1;
}*/

#keysInputBox .keyBox{
    padding: 20px 20px;
    background-color: rgb(0 0 0 / 70%);
    color: white;
    font-family: 'Manrope', sans-serif;
    border-radius: 10px;
    margin-right: 4px;
    transition: .2s;
    transform: scale(1);
    filter: blur(0px);
}

#keysInputBox .firstKey{
    border-radius: 30px 10px 10px 30px;
}

.active{
    border: 1px solid rgba(255, 255, 255, 0.6)!important;
}

.hiddenKey{
    transition: .2s;
    transform: scale(0.9);
    filter: blur(8px);
}

#clearInputButton, #clearTerminalInputBox{
    transition: .2s;
    width: 20px;
    height: 20px;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(100% - 90px);
    padding: 0px!important;
    background-color: transparent!important;
    opacity: 0;
}

.saveButtonBack{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0px 0px 26px 26px;
    height: 54px;
    width: 100%;
    display: none;
}

#saveButton, #saveTerminalButton{
    width: 62px;
    height: 62px;
    /* height: fit-content; */
    /* padding: 12px 20px; */
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: rgb(255 255 255 / 5%);
    margin-top: 10px;
    position: absolute;
    bottom: 3px;
    right: 3px;
    background-image: url(../icons/add.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    justify-content: center;
}

#saveButton p{
    margin: 0px;
    display: none;
    color: white;
}

.combinationsBox, #terminalCommandsBox{
    width: 100%;
    min-height: calc(100% - 106px);
    /* height: fit-content; */
    display: flex;
    flex-direction: row;
    /* border-radius: 16px; */
    flex-wrap: wrap;
    /* height: 100%; */
    background-size: contain;
    background-repeat: no-repeat;
    align-content: flex-start;
    overflow-y: auto;
    padding-bottom: 20px;
}

.combination, .terminalCommand, .combinationSkeleton{
    overflow: hidden;
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 20px 24px;
    background-color: rgb(0 0 0 / 8%);
    border: 1px solid rgb(255 255 255 / 20%);
    color: white;
    font-family: 'Manrope', sans-serif;
    border-radius: 40px;
    display: flex;
    align-items: center;
    margin-right: 3px;
    margin-bottom: 4px;
    transform: scale(1);
    filter: blur(0px);
    transition: .3s;
}

.combination p, .terminalCommand .p{
    margin: 0px;
    transition: .3s;
    word-spacing: 4px;
}

.combinationSkeleton{
    opacity: .5;
}

.combinationSkeleton p{
    margin: 0px;
    opacity: 0;
}

.combination:hover .combinationRemoveButton, .combination:hover .combinationAddButton, .terminalCommand:hover .commandRemoveButton{
    opacity: 1;
    transform: scale(1);
}



.combination:hover .combinationTextWrapper, .terminalCommand:hover p{
    transform: scale(1.1);
    filter: blur(4px);
    opacity: 0;
}

.draggable .combinationTextWrapper, .draggable:hover .combinationTextWrapper{
    transform: scale(1)!important;
    opacity: 1!important;
    filter: blur(0px)!important;
    transition: 0s;
}

#combinationsSection .combination, .combination.draggable{
    /* padding: 16px 20px; */
    backdrop-filter: blur(12px);
    background-color: rgb(0 0 0 / 8%);
}

.hiddenCombination{
    transform: scale(1.14);
    filter: blur(8px);
    opacity: 0;
}

.combinationRemoveButton, .combinationAddButton{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url(../icons/trash.png);
    background-position: center;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: .3s;
    transform: scale(0.7);
}

.combinationAddButton{
    background-image: url(../icons/add.png);
}

.semiScreen{
    background-color: rgb(255 255 255 / 8%);
    width: calc(50% - 40px);
    padding: 24px;
    display: flex;
    flex-direction: column;
    margin-right: 6px;
    border-radius: 40px;
    overflow: hidden;
}

.semiScreen:last-child{
    margin-right: 0px;
}

#keysSet{
    display: flex;
}

.imageWrapper{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#deviceConnectImage{
    background-image: url(../images/cable.png);
    height: 120px;
    width: 60px;
    margin-bottom: -30px;
    margin-top: 14px;
    opacity: 1;
}

.hint{
    opacity: .7;
    margin-top: 8px;
    font-size: 13px;
}

.shake{
    animation: shake 400ms ease-in-out;
}

.button{
    transition: .2s;
    transform: scale(1);
}

.button:active{
    transform: scale(0.96);
}

#brightnessToggle {
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
    opacity: .7;
}

#brightnessToggle:hover{
    opacity: 1;
}


#brightnessToggle.maxBr{
    background-image: url(../icons/maxBr.png);
}

#brightnessToggle.autoBr{
    background-image: url(../icons/autoBr.png);
}

#brightnessToggle.minBr{
    background-image: url(../icons/moon.png);
}

.combinationIcon{
    height: 18px;
    width: 18px;
    margin: 0px 6px;
    background-size: contain;
    background-position: center;
    margin-bottom: 2px;
}

.combinationIcon:first-child{
    margin: 0px 4px 0px 0px;
}

.combinationIcon:last-child{
    margin: 0px 0px 0px 4px;
}

.combinationTextWrapper{
    display: flex;
    flex-direction: row;
    opacity: .9;
    transition: .3s;
    align-items: center;
}

.hiddenCombText{
    display: none;
}

@keyframes shake {
    0%{
        transform: translate(0px, 0px);
    }

    20%{
        transform: translate(-8px, 0px);
    }

    40%{
        transform: translate(8px, 0px);
    }

    60%{
        transform: translate(-4px, 0px);
    }

    80%{
        transform: translate(4px, 0px);
    }

    100%{
        transform: translate(0px, 0px);
    }
}

@keyframes bounce {
    0%{
        transform: translate(calc(-50% - 0px), calc(-50% - 4px)) scale(1);
    }

    50%{
        transform: translate(calc(-50% - 0px), calc(-50% - 4px)) scale(1.1);
    }

    100%{
        transform: translate(calc(-50% - 0px), calc(-50% - 4px)) scale(1);
    }
}


@keyframes borderPulse {
    0%{
        border: 4px solid rgba(255, 255, 255, 0.4);
    }

    50%{
        border: 4px solid rgba(255, 255, 255, 0.7);
    }

    100%{
        border: 4px solid rgba(255, 255, 255, 0.4);
    }
}